<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tweet It</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Join our Twitter-inspired app for quick tweets and effortless updates to your username and bio. Stay connected and share your thoughts with ease!">
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./js/components/Tweet.js" defer></script>
  <script src="./js/app.js" defer></script>
  <link rel="icon" href="/images/favicon.webp" />
  <link rel="apple-touch-icon" href="/images/favicon.webp" />
</head>
<body>
  <div id="app">
    <h1>Tweet It</h1>
    <div class="user">
      <div class="user-information">
        <div class="image-container">
          <img src="images/profile.webp" alt="profile picture" width="100px" height="86px">
        </div>
        <h3>{{ username }}</h3>
      </div>
      <div class="user-bio" v-if="bio">
        <em>Bio: </em> {{ bio }}
      </div>
    </div>
    <div class="tweets">
      <tweet v-for="tweet in tweets" 
             v-bind:message="tweet"
             v-bind:author="username"></tweet>
    </div>
    <div class="settings">
      <h2>Settings</h2>
      <label for="username">Username</label>
      <input type="text" value="username" placeholder="Username" v-model="username" />
      <label for="bio">Bio</label>
      <textarea value="bio" placeholder="Bio" v-model="bio"></textarea>
      <label for="tweet">New Tweet</label>
      <div class="new-tweet">
        <input type="text" value="tweet" placeholder="New Tweet" v-model="newTweet" />
        <button class="new-button" v-on:click="tweets.push(newTweet);newTweet=''">Add Tweet</button>
      </div>
    </div>
  </div>
</body>
<footer>
</footer>
</html>